# MySQL
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_DB=maju_jaya
MYSQL_USER=maju_jaya
MYSQL_PASSWORD=your_mysql_password
MYSQL_ROOT_PASSWORD=your_root_password

# Paths
CSV_DIR=./data

# Airflow
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=mysql+pymysql://airflow:airflow_pass@mysql:3306/airflow_db
AIRFLOW__CORE__FERNET_KEY=your_fernet_key_here
AIRFLOW__CORE__FERNET_KEY=your_fernet_key_here