# MySQL
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_DB=maju_jaya
MYSQL_USER=maju_jaya
MYSQL_PASSWORD=maju_jaya_pass
MYSQL_ROOT_PASSWORD=root_pass_123

# Paths
CSV_DIR=./data

# Airflow
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=mysql+pymysql://airflow:airflow_pass@mysql:3306/airflow_db
AIRFLOW__CORE__FERNET_KEY=81HqDtbqAywKSOumSha3BhWNOdQ26slT6K0YaZeZyPs=
AIRFLOW__WEBSERVER__SECRET_KEY=super_secret_key_123
